**/__pycache__
**/.pytest_cache
**/.venv
**/venv
**/env
**/*.pyc
**/*.pyo
**/*.pyd
**/pip-log.txt
**/pip-delete-this-directory.txt
.git
.dockerignore
Dockerfile
docker-compose.yml
README.md
LICENSE
*.md
.vscode/
